.searchContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.content img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.carous{
    margin-top: 2rem;
}
.cot{
    display: flex !important;
}
.bestsellers{
    overflow: hidden;
}
.middle{
    width: 100%;
    margin: 3rem 0;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    transform: translateY(-14rem);

}
@media (max-width: 768px) {
    .content img{
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
}